* {font-family: Verdana; Tahoma; Arial; font-size: 10pt; padding:3px;}
.header {font-weight: bold; font-size: 12pt; background-color: white; position:fixed; width:50%; z-index:1000; box-shadow: 0 2px 8px -2px #232323;}
.fullheader {font-weight: bold; font-size: 12pt; background-color: white; position:fixed; width:100%; z-index:1000; box-shadow: 0 2px 8px -2px #232323;}
